<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Beauty Land</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
<!-- iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../css/index.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />
</head>

<body>
  <nav>
    <img src="../images/logo.png" alt="Logo Beauty Land" class="logo">
    <ul>
      <li class="nav-item center" id="login-link">
        <a href="login.html">Login</a>
        <ul>
          <li><a class="letra-ch" href="login.html"> Iniciar Sesión</a></li>
          <li><a  class="letra-ch" href="registro.html"> Registrarse</a></li>
        </ul>
        
      </li>
      <li class="nav-item center" id="productos">
        <a >Productos</a>
        <ul>
          <li>
            <a class="letra-ch" href="productoR.html">Registrar</a>
          </li>
          <li><a class="letra-ch" href="productoD.html">Eliminar</a></li>
          <li><a class="letra-ch" href="productoM.html">Modificar</a></li>
          <li><a class="letra-ch" href="productoT.html">Todos</a></li>
          <li><a class="letra-ch" href="provider.html">Proveedor</a></li>
          <li><a class="letra-ch" href="providerD.html">Eliminar Proveedor</a></li>
        </ul>
      </li>
      <li class="nav-item center" id="encabezado-link">
        <a href="index.html">BEAUTY LAND</a>
      </li>
      <li class="nav-item center" id="sobremi-link">
        <a>Nosotros</a>
        <ul>
          <li>
            <a class="letra-ch" href="sobre-mi.html">Sobre mí</a>
          </li>
          <li><a class="letra-ch" href="ubicacion.html">Ubicación</a></li>
        </ul>
      </li>
      <li class="nav-item center" id="kmeans-link">
        <a>IA</a>
        <ul>
          <li><a class="letra-ch" href="k-means.html">K-means</a></li>
          <li><a class="letra-ch" href="predicciones.html">Predicciones</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  
 <!-- slider section -->
    <div class="hero_area">
    
    <section class="slider_section ">
      <div class="carousel_btn-container">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Con todo <br>
                      el sabor de ser <br>
                      una Mujer
                    </h1>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../images/carru-1.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Qué guapa <br>
                      te vez amándote <br>
                      tanto
                    </h1> 
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../images/carru-2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Nada mejora <br>
                      tu actitud como unas <br>
                      uñas hermosas
                    </h1> 
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../images/carru-3.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Nada como <br>
                      arreglarte las<br>
                      uñas para curar un <br>
                      bajoncito
                    </h1> 
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../images/carru-4.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Qué tu día sea <br>
                      tan impecable como <br>
                      tu maquillaje
                    </h1> 
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../images/carru-5.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Nunca subestimes <br>
                      el poder de un <br>
                      buen look
                    </h1>
                    
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="../images/carru-6.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- end slider section -->
  </div>

</div>
  <!-- experience section -->

  <section class="experience_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img src="../images/salon-1.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Bienvenidas!
              </h2>
            </div>
            <p> 
              Bienvenida a nuestra aplicación web, permitenos enamorarte y cuidar de ti.<br>
              <br>
              En Beauty Land nos ocupamos de tu belleza, es por ello que todos nuestros procedimientos y servicios son realizados con el mayor nivel de calidad y seguridad posible para que te sientas en total confianza de permitirnos 
              acompañarte de la mano en tu nueva experiencia.<br>
              <br>
              Nuestro amplio equipo de expertas siempre te ayudarán a elegir el servicio que más se adapte a tus deseos. Para nosotras el cuidado y evaluacion antes de realizar cualquier tratamiento es de vital importancia es por ello
              que tras un diagnóstico personalizado, combinamos las distintas técnicas y recursos para obtener el mejor resultado y que luzcas radiante.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end experience section -->

  <!-- category section -->

  <section class="category_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Servicios
        </h2>
      </div>
      <div class="category_container">
        <div class="box">
          <div class="img-box">
            <img src="../images/corte.png" alt=""  height="120px">
          </div>
          <div class="detail-box">
            <h5>
              <br>
              Corte de cabello
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../images/tintess.png" alt=""  height="110px">
          </div>
          <div class="detail-box">
            <h5>
              <br>
              Tintes y decoloraciones
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../images/manicura.png" alt="" height="130px">
          </div>
          <div class="detail-box">
            <h5>
              <br>
              Manicura
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../images/pedicure.png" alt="" height="130px">
          </div>
          <div class="detail-box">
            <h5>
              <br>
              Pedicura
              
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../images/maquillajes.png" alt="" height="130px">
          </div>
          <div class="detail-box">
            <h5>
              <br>
              Maquillaje
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../images/peinado.png" alt="" height="130px">
          </div>
          <div class="detail-box">
            <h5>
              <br>
              Peinados
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
          <div class="heading_container">
            <h2>
              Tips de belleza
            </h2>
          </div>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="detail-box">
                  <h4>
                    Desinflama tus párpados
                  </h4>
                  <p>
                    
                    Necesitas lucir perfecta después de una noche de fiesta o simplemente después de dormir un largo tiempo. 
                    Envuelve un trozo de hielo con una toalla y ponlo sobre el área inflamada de los ojos. En unos minutos comenzará a reducirse el tamaño.
                  </p>
                  <img src="../images/quote.png" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h4>
                    Usar base, corrector o primer en los párpados.
                  </h4>
                  <p>
                    "Permitirá neutralizar la pigmentación propia del párpado para que la sombra, que será aplicada después, se vea en su tonalidad más pura", <br>
                    explica la maquilladora Connie Moreno.
                  </p>
                  <img src="../images/quote.png" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h4>
                    Aplicar bastante máscara para pestañas.
                  </h4>
                  <p>
                    Esto es en la línea superior e inferior, con cuidado de no dejar grumos. "Si te animás a usar pestañas postizas, vas a ver un antes y <br> 
                    un después, porque verdaderamente empoderan el maquillaje de ojos"
                    
                  </p>
                  <img src="../images/quote.png" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h4>
                    Neutralizar las tonalidades de la piel.
                  </h4>
                  <p>
                    "Las nociones de colorimetría darán las pautas para realizarlo. En las zonas rojizas de la piel, se debe colocar un tonalizador verde y <br>
                    las violáceas, como pueden ser las ojeras, un corrector amarillo. Las manchas de pigmentación en la piel pueden ser contrarrestadas con un <br>
                    corrector naranja. Es importante usar poca cantidad de estos tonos y solamente sobre la zona que hace falta emparejar"
                  </p>
                  <img src="../images/quote.png" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h4>
                    Fijar la base de maquillaje.
                  </h4>
                  <p>
                    "El secreto es aplicar polvo volátil incoloro y translúcido. Permitirá matificar brillos indeseados y extender la duración de una base de uso diario"
                  </p>
                  <img src="../images/quote.png" alt="">
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h4>
                    Realizar el delineado con sombra.
                  </h4>
                  <p>
                    Es un tip fundamental para que el delineado dure más. Los pasos son los siguientes: "realizar la primer capa con un lápiz sobre el párpado superior 
                    y bien pegadito a la línea de pestañas y sobre esa línea, aplicar la sombra. Para un delineado aún más marcado sobre esas dos capas, aplicar un 
                    delineador liquido a prueba de agua"
                  </p>
                  <img src="../images/quote.png" alt="">
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->



  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="../images/logo.png" alt="" />
            <span>
              Beauty Land
            </span>
          </div>
          <div class="social-icons">
            <a href="https://facebook.com/afrodita" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/afrodita" target="_blank"><i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/afrodita" target="_blank"><i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>

        <div class="info_main" id="menu">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="info_link-box">
                <h5>
                  Useful Link
                </h5>
                <ul>
                  <li class=" active">
                    <a class="" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="sobre-mi.html">Sobre nosotros </a>
                  </li>
                  <li class="">
                    <a class="" href="ubicacion.html">Ubicación </a>
                  </li>
                  <li class="">
                    <a class="" href="login.html">Login </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 ">
              <h5>
                Información
              </h5>
              <p>
                En Beauty Land nos ocupamos de tu belleza, es por ello que todos nuestros procedimientos y servicios son realizados con el mayor nivel de calidad y seguridad posible para que te sientas en total confianza de permitirnos acompañarte de la mano en tu nueva experiencia.
              </p>
            </div>

            <!-- <div class="col-md-3 col-lg-2 offset-lg-1">
              <h5>
                Información
              </h5>
              <p>
                Readable content of a page when looking at its layoutreadable content of a page when looking at its layout
              </p>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
            <div class="info_contact layout_padding2">
              <div class="row">
                <div class="col-md-3">
                  <a href="ubicacion.html" class="link-box">
                    <div class="img-box">
                      <img src="../images/location.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Ubicación
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="../images/mail.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        estetica@gmail.com
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="../images/call.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Llama al +01 1234567890
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/custom.js"></script>


</body>
</body>

</html>