<!--Luz Elizabeth Velázquez Tovar-->
<!--19 de octubre de 2023-->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="../css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="../css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <img src="../images/logo.png" alt="Logo Beauty Land" class="logo">
      <ul>
        <li class="nav-item center" id="encabezado-link">
          <a href="index.html">BEAUTY LAND</a>
        </li>
      </ul>
    </nav>
    <form action="" id="login-form">
      <h1 class="title">Inicio de Sesión</h1>
      <label>
        <i class="fa-solid fa-user"></i>
        <input placeholder="username" type="text" id="username" />
      </label>
      <label>
        <i class="fa-solid fa-lock"></i>
        <input placeholder="password" type="password" id="password" />
      </label>
      <br />
      <button id="button">Iniciar</button>
      <br />
      <button id="registro">Crear nueva cuenta</button>
    </form>
    <script src="../js/login.js"></script>
  </body>
</html>
