<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sobre-mi.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital,wght@1,900&display=swap"
    />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <title>Sobre mí</title>
    <link href="../css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <img src="../images/logo.png" alt="Logo Beauty Land" class="logo">
      <ul>
        <li class="nav-item center" id="login-link">
          <a>Login</a>
          <ul>
            <li><a class="letra-ch" href="login.html"> Iniciar Sesión</a></li>
            <li><a  class="letra-ch" href="registro.html"> Registrarse</a></li>
          </ul>
          
        </li>
        <li class="nav-item center" id="productos">
          <a >Productos</a>
          <ul>
            <li>
              <a class="letra-ch" href="productoR.html">Registrar</a>
            </li>
            <li><a  class="letra-ch" href="productoD.html">Eliminar </a></li>
            <li><a class="letra-ch" href="productoM.html">Modificar </a></li>
            <li><a class="letra-ch" href="productoT.html">Todos</a></li>
            <li><a class="letra-ch" href="provider.html">Proveedor</a></li>
            <li><a class="letra-ch" href="providerD.html">Eliminar Proveedor</a></li>
          </ul>
        </li>
        <li class="nav-item center" id="encabezado-link">
          <a href="index.html">BEAUTY LAND</a>
        </li>
        <li class="nav-item center" id="sobremi-link">
          <a>Nosotros</a>
          <ul>
            <li>
              <a class="letra-ch" href="sobre-mi.html">Sobre mí</a>
            </li>
            <li><a class="letra-ch" href="ubicacion.html">Ubicación</a></li>
          </ul>
        </li>
        <li class="nav-item center" id="kmeans-link">
          <a>IA</a>
          <ul>
            <li><a  class="letra-ch" href="k-means.html">K-means</a></li>
            <li><a class="letra-ch" href="predicciones.html">Predicciones</a></li>
          </ul>
        </li>
      </ul>
    </nav>
   
    <div class="contenedor">
        <div class="txt"> 
          <br>
          
            <div id="contentContainer">
              <br><br>
                <h1>Sobre mí</h1>
            </div>
            <h3>Misión</h3>
            <p>
                La misión de Beauty Land es brindar servicios de belleza excepcionales que resalten la singularidad y la autoexpresión de cada cliente. 
                Nos comprometemos a ofrecer experiencias de bienestar y confianza, combinando habilidad técnica con un enfoque personalizado. Buscamos ser un 
                refugio de belleza donde la autenticidad y la creatividad convergen para realzar la belleza interior y exterior de cada persona.
                <br>
                <h3>Visión</h3>
                <p>
                    Nos visualizamos como el principal destino de belleza reconocido por nuestra excelencia en servicios, atención al cliente y creatividad innovadora. 
                    Buscamos inspirar la confianza y la autoestima de nuestros clientes, convirtiéndonos en un espacio de referencia donde la belleza se define por la 
                    individualidad y la autenticidad.
                    <br>
                    <h3>Valores</h3>
                    <ol>
                        <li>Profesionalismo</li>
                        <li>Bienestar y Confianza</li>
                        <li>Trabajo en equipo</li>
                        <li>Responsabilidad</li>
                        <li>Creatividad e Innovación</li>
                    </ol>
                </p>
            </p>
        </div>
    </div>

    <div id="imageContainer">
      <img
        id="productImage"
        src="../images/salon-2.jpeg"
        alt="Imagen del Producto"
      />
    </div>

    <!-- <script src="registro.js"></script> -->
  </body>
</html>