<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ubicacion</title>
    <link rel="stylesheet" href="../css/ubicacion.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet" />
  </head>
<body>
  <nav>
    <ul>
        <img src="../images/logo.png" alt="Logo Beauty Land" class="logo">
      
      <li class="nav-item center" id="login-link">
        <a>Login</a>
        <ul>
          <li><a class="letra-ch" href="login.html"> Iniciar Sesión</a></li>
          <li><a  class="letra-ch" href="registro.html"> Registrarse</a></li>
        </ul>
        
      </li>
      <li class="nav-item center" id="productos">
        <a >Productos</a>
        <ul>
          <li>
            <a class="letra-ch" href="productoR.html">Registrar</a>
          </li>
          <li><a  class="letra-ch" href="productoD.html">Eliminar </a></li>
          <li><a class="letra-ch" href="productoM.html">Modificar </a></li>
          <li><a class="letra-ch" href="productoT.html">Todos</a></li>
          <li><a class="letra-ch" href="provider.html">Proveedor</a></li>
          <li><a class="letra-ch" href="providerD.html">Eliminar Proveedor</a></li>
        </ul>
      </li>
      <li class="nav-item center" id="encabezado-link">
        <a href="index.html">BEAUTY LAND</a>
      </li>
      <li class="nav-item center" id="sobremi-link">
        <a>Nosotros</a>
        <ul>
          <li>
            <a class="letra-ch" href="sobre-mi.html">Sobre mí</a>
          </li>
          <li><a class="letra-ch" href="ubicacion.html">Ubicación</a></li>
        </ul>
      </li>
      <li class="nav-item center" id="kmeans-link">
        <a>IA</a>
        <ul>
          <li><a  class="letra-ch" href="k-means.html">K-means</a></li>
          <li><a class="letra-ch" href="seriesTiempo.html">Predicciones</a></li>
        </ul>
      </li>
    </ul>
  </nav>

    
    <div class="container"> 
        <div class="half image"></div>
       <div class="info">
    <h2>Información</h2>
    <p>Estamos ubicados en  Av. México 601, Los Paraisos, 37328 León de los Aldama, Gto.</p>
    <h2>Horario de Trabajo</h2>
        <p>Lun-Vier: 7am - 10pm         Sábado: 8am - 10pm</p>
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.353691373333!2d-101.6895687!3d21.1383182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbff3ea528f9b%3A0xa87975ecd11fc0f7!2sAy-linda%20Beauty%20Studio!5e0!3m2!1ses-419!2smx!4v1700714969474!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

      </div>

</body>
</html>

