body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  text-align: justify;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
}

/*header section*/
.hero_area {
  height: calc(85vh - 30px);
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #c1c3f3), color-stop(55%, #fcf4f0));
  background: linear-gradient(to right, #dbcde7 55%, #fcf4f0 55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.sub_page .hero_area {
  height: auto;
  background: none;
  background-color: #000000;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  overflow-x: hidden;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .row>div {
  position: unset;
}

.slider_section .detail-box h1 {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.slider_section .detail-box p {
  color: #000000;
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 45px -5px 0 -5px;
}

.slider_section .detail-box .btn-box a {
  text-align: center;
  width: 165px;
  font-size: 15px;
  margin: 5px;
}

.slider_section .img-container .img-box img {
  width: 100%;
}

.slider_section #carouselExampleIndicators {
  position: unset;
  width: 100%;
}

.slider_section .carousel_btn-container {
  width: 120px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: 8.5%;
  z-index: 999;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: #000000;
  margin: 2px;
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  background-color: #9471b3;
}

.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section ol.carousel-indicators {
  margin: 0;
  width: 75px;
  bottom: 45px;
  left: initial;
  right: 25px;
}

.slider_section ol.carousel-indicators li {
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  line-height: 55px;
  color: #ffffff;
  background-color: transparent;
  opacity: 1;
  display: none;
}

.slider_section ol.carousel-indicators li.active {
  display: block;
}

.experience_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.experience_section .img-box img {
  width: 100%;
}

.category_section {
  background-color: #dbcde7;
  color: #84458a;
  text-align: center;
}

.category_section .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category_section .heading_container h2 {
  border-bottom: 1px solid #ffffff;
}

.category_section .category_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
}

.category_section .category_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  min-width: 130px;
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
}

.category_section .category_container .box .img-box {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .detail-box {
  text-align: center;
  margin: 25px 35px;
  padding: 45px 65px 35px 65px;
  -webkit-box-shadow: 0px 0px 20px 0 #fcf4f0;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.client_section .detail-box h4 {
  font-weight: bold;
}

.client_section .detail-box p {
  margin-top: 15px;
  margin-bottom: 25px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  top: 50%;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #9471b3;
  margin: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.client_section .carousel-control-prev {
  background-image: url(../images/prev-angle.png);
}

.client_section .carousel-control-next {
  background-image: url(../images/next-angle.png);
}

/* info section */
.info_section {
  position: relative;
  background-color: #dbcde7;
  color: #000000;

}

/* .info_section .heading_container {
  margin-bottom: 45px;
} */

.info_section h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
}

.info_section .info_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 0;
}

.info_section .info_top .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_top .info_logo img {
  width: 105px;
}

.info_section .info_top .info_logo span {
  color: #000000;
  font-weight: bold;
  font-size: 32px;
}

.info_section .info_top .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_section .info_top .social_box a {
  margin: 0 10px;
}


.info_section .info_top .social_box a img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

.info_section a {
  text-transform: none;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #000000;
}

.info_section .info_link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_contact .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0;
  color: #000000;
}

.info_section .info_contact .link-box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  margin-right: 20px;
}

.info_section .info_contact .link-box .img-box img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

nav {
  font-size: 22px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdce2;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}


nav #encabezado-link a {
  font-size: 25px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 20px;
  margin: 0px;
}

nav li {
  margin-right: 95px;
  margin-left: 15px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(209, 113, 113);
}

nav li:hover>ul {
  display: flex;
  flex-direction: column;
  color: rgb(209, 113, 113);
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1;
}

nav ul li:hover>ul {
  display: block;
}

nav ul ul li {
  display: block;
  width: 80%;
}

.letra-ch {

  font-size: 17px;
}


.social-icons i {
  font-size: 45px;
  color: black;
  margin-left: auto;
}

.social-icons a {
  margin-right: 20px;
  /* Ajusta el margen derecho según tus preferencias para agregar espacio entre los iconos */
}