body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f4f4f4; */
}

#container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 70px;
}

#formContainer {
    flex: 1;
    padding: 20px;
    margin-top: 230px;
    box-sizing: border-box;
}

#formContainer2 {
    flex: 1;
    padding: 30px;
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formContainer2 button {
    width: auto;
    max-width: 150px;
}

#formContainer2,
#formContainer select {
    font-size: 17px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.txt {
    max-width: 600px;
}

#contentContainer {
    margin-top: 170px;
    padding: 20px;
    background-color: #fff;
}


#contentContainer h1 {
    color: #000000;
    text-align: center;

}

label {
    display: block;
    margin-bottom: 6px;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #bc9ada;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c46d7b;
}

#imageContainer {
    flex: 0.9;
    overflow: hidden;
    margin-top: 125px;
    max-height: 600px;
}

#productImage {
    width: 100%;
    border-radius: 8px;
    margin-top: 50px;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffdce2;
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
    background-color: #ffdce2;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}


nav #encabezado-link a {
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 0px;
    text-align: center;

}

nav li {
    margin-right: 95px;
    margin-left: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(209, 113, 113);
}

.letra-ch {

    font-size: 17px;
}

nav li:hover>ul {
    display: flex;
    flex-direction: column;
    color: rgb(209, 113, 113);
    /* display: block; */
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 150px;
    z-index: 1;

}

nav ul ul li {
    display: block;
    width: 80%;
}